{% extends 'base.html' %}
{% load static %}

{% block content-header %}
<div class="participant-header">
  <div class="participant-header-tools">
    <a href="#" class="btn btn-tool">Print</a>
    <a href="{% url 'update_participant' participant.id %}" class="btn btn-tool">
      <i class="fas fa-edit"></i>
    </a>
    <a href="{% url 'delete_participant' participant.id %}" class="btn btn-tool">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
{% endblock content-header %}

{% block content %}
<div class="participant d-flex flex-wrap">
  <div class="participant-image col-sm-4">
    {% if object.image %}
      <img src="{{ object.image.url }}" class="float-left rounded-circle mr-3">
    {% else %}
      <img src="{% static 'dist/img/avatar.png' %}" class="float-left rounded-circle mr-3">
    {% endif %}
  </div>
  <div class="participant-info col-sm-8">
    <h4>{{ object.full_name }}</h4>
    <hr>

    <form method="POST" action="{% url 'update_participant' participant.id %}">
      {% csrf_token %}
      
      <label for="in_event">In Event:</label>
      <input type="checkbox" name="in_event" id="in_event" {% if object.in_event %}checked{% endif %}>
      {% if object.in_event %}Yes{% else %}No{% endif %}
      <hr>

      <label for="breakfast">Breakfast:</label>
      <input type="checkbox" name="breakfast" id="breakfast" {% if object.breakfast %}checked{% endif %}>
      {% if object.breakfast %}Eaten{% else %}Not Yet{% endif %}
      <hr>

      <label for="lunch">Lunch:</label>
      <input type="checkbox" name="lunch" id="lunch" {% if object.lunch %}checked{% endif %}>
      {% if object.lunch %}Eaten{% else %}Not yet{% endif %}
      <hr>

      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</div>
{% endblock content %}



{% block morejs %}
<script>
  $(document).ready(function () {
      // Function to handle checkbox click event
      function handleCheckboxClick(checkbox) {
          const updateUrl = $(checkbox).data('update-url');
          const columnName = $(checkbox).attr('name');
          const isChecked = checkbox.checked;
  
          // Send AJAX request to update the participant's data
          $.ajax({
              url: updateUrl,
              type: 'POST',
              data: {
                  column_name: columnName,
                  is_checked: isChecked
              },
              success: function (data) {
                  // Handle success response if needed
              },
              error: function (error) {
                  console.error(error);
              }
          });
      }
  
      // Bind click event to the checkboxes
      $('#in_event, #breakfast, #lunch').on('click', function () {
          handleCheckboxClick(this);
      });
  });
  </script>
{% endblock morejs %}  